In [4]:
import pandas as pd
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';', encoding='latin-1')
books = pd.read_csv('BX-Books_mod.csv',sep=';', encoding='latin-1' )
users = pd.read_csv('BX-Users.csv', sep=';', encoding='latin-1')
#%%      OFFLINE PART
# Discard from dataset 'users' the users that don't give a rating and
users=users[users['User-ID'].isin(ratings['User-ID'])]

In [6]:
users.head()

   User-ID                    Location   Age
1        2   stockton, california, usa  18.0
6        7         washington, dc, usa   NaN
7        8    timmins, ontario, canada   NaN
8        9  germantown, tennessee, usa   NaN
9       10  albacete, wisconsin, spain  26.0