In [79]:
import pandas as pd

In [80]:
users = pd.read_csv('BX-Users.csv', sep=';', encoding='latin-1')

In [82]:
users=users.head(2000)

In [83]:
users['loc']=''

In [84]:
for i in range(users.shape[0]):
    #print(i)
    users.iloc[i,3]=users.Location[i].split(',')[-1]

In [87]:
users.tail(5)

      User-ID                            Location   Age         loc
1995     1996  sydney, new south wales, australia  34.0   australia
1996     1997          altoona, pennsylvania, usa  16.0         usa
1997     1998          tel-aviv, \n/a\"), israel"   NaN     israel"
1998     1999         allston, massachusetts, usa  26.0         usa
1999     2000            pune, maharashtra, india  19.0       india

In [89]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer


cv_loc=CountVectorizer(max_features=92)
loc = cv_loc.fit_transform(users["loc"])
loc_list = ["Location_"+ i for i in cv_loc.get_feature_names()]

cluster_data = loc.todense()
criterion_list = loc_list

In [92]:
loc_list[:10]

['Location_afghanistan',
 'Location_albania',
 'Location_and',
 'Location_arabia',
 'Location_argentina',
 'Location_australia',
 'Location_austria',
 'Location_basque',
 'Location_belgium',
 'Location_bosnia']

In [93]:
from sklearn.cluster import KMeans

mod = KMeans(n_clusters=7)
category = mod.fit_predict(cluster_data)
category_dataframe = pd.DataFrame({"category":category},index = users['loc'])

In [94]:
max(category_dataframe.category)+1

7

In [95]:
for num in range(7):    
    print(users.ix[list(category_dataframe['category'] == num)].shape[0])

971
118
100
103
126
517
65

In [115]:
users.ix[list(category_dataframe['category'] == 5)]['loc'].unique()

array([' russia', ' portugal', ' brazil', '', ' mexico', ' china',
       ' italy', ' distrito federal', ' france', ' netherlands', ' iraq',
       ' finland', ' new zealand', ' india', ' ghana', ' switzerland',
       ' slovenia', ' iran', ' peru', ' bosnia and herzegovina',
       ' vietnam', ' sri lanka', ' pakistan', ' denmark', ' belgium',
       ' malaysia', ' u.a.e', ' turkey', ' philippines', ' greece',
       ' colombia', ' norway', ' kuwait', ' chile', ' quit', ' lj',
       ' taiwan', ' denmark"', ' espa√±a', ' sweden', ' argentina',
       ' nigeria', ' london', ' bulgaria', ' austria', ' romania',
       ' singapore', ' albania', ' egypt', ' tunisia', ' uzbekistan',
       ' qatar', ' syria', ' saudi arabia', ' indonesia', ' sudan',
       ' somewherein space', ' poland', ' thailand', ' ireland',
       ' malaysia"', ' venezuela', ' paraguay', ' mozambique', ' morocco',
       ' afghanistan', ' estonia', ' clackamas', '"', ' lesotho',
       ' yugoslavia', ' slovakia', ' costa rica', ' basque country',
       ' british virgin islands', ' ethiopia', ' croatia', ' portugal"',
       ' israel', ' japan', ' israel"'], dtype=object)

In [ ]:
import numpy as np

In [ ]:
np.ma.mas